# config file

DEMUX=/data/NCBR/projects/NCBR-367/analysis_GYZ/demultiplexed_bcdPrm_removed_raw_data/import/pair-end-demux.qza
PREFIX=PE_bcdPrm

export TMPDIR='/scratch/zhangy68/tmp'

#Define the table and reps, either single run DADA2 output, or merged table
TABLE=PE_bcdPrm_dada2.qza
REPS=PE_bcdPrm_reps.qza

##Choose the most appropriate depth
DEPTH=149894

##Define prefix for core diversity metrics
CORE=core-metrics

##Name of Keimee checked, qiime2 validated mapping file (combined for multiple)
METADATA=metadata_parsed_validated.tsv 

# Pre-trained classifier
CLASSI=classifier_training/silva-138-99_341F-806R_classifier.qza

